@{
    ViewData["Title"] = "OpenIddictServer";
}

<div class="text-center">
    <img src="https://documentation.openiddict.com/openid.svg" />
    <h3>Learn about <a href="https://documentation.openiddict.com/">OpenIddict here</a>.</h3>
</div>
